# permissions for end users to edit eventbrokers.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: eventbroker-editor-role
rules:
- apiGroups:
  - pubsubplus.solace.com
  resources:
  - eventbrokers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - pubsubplus.solace.com
  resources:
  - eventbrokers/status
  verbs:
  - get
