---
apiVersion: pubsubplus.solace.com/v1alpha1
kind: EventBroker
metadata:
  name: test-nonha
spec:
  redundancy: false
  developer: true
  monitoring:
    enabled: true
    image: ghcr.io/solacedev/solace_prometheus_exporter
    tag: sol-76199
    imagePullPolicy: Always
    imagePullSecrets:
      - name: regcred